@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
  background-color: #212529;
  color: white;
  font-family: 'Poppins', sans-serif;

}

.navbar p{
  margin: 0 1rem 0 0!important;
}

.navbar a{
  color: white !important;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
}

.navbar a:hover{
  color: rgb(249, 83, 83) !important;
}

.form-select {
  width: 10rem !important;
}

.navbar{
  padding: 2rem !important;
}

.searchbar{
  background-color: #212529 !important;
  color: white !important;
  font-size: 0.8rem !important;
}

.navbar svg{
  font-size: 2rem;
  margin-right: 1rem;
}

.footer{
margin-top: 3rem;
}

.footer a{
  font-size: xx-small;
  
}

.btn-footer{
  width: 7rem!important;
  color: grey!important;
  background-color: transparent !important;
  border: 1px solid rgb(121, 121, 121) !important;margin-left: 6rem !important;
}


.text-secondary{
  font-size: 0.7rem;
}

.box-image{
 width: 12rem;
border-radius: 1rem;
margin: 1rem;
}

.mycontainer{
  width: 80%;
  margin: auto;
 text-align: center;
}

.mycontainer h3{
   text-align: left;
   margin-left: 2.5rem;
}